.add-book-section {
  margin-top: 3rem;
  width: clamp(80rem, 80%, 200rem);
  margin-inline: auto;
}

.add-book-section > h1 {
  color: #888;
  font-size: 1.8rem;
}

.add-book-form {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.book-input {
  width: 60%;
  outline: none;
  border: 0.1rem solid silver;
  border-radius: 0.3rem;
  padding: 0.6rem;
  font-size: 1.5rem;
}

.book-input:focus {
  border: 0.2rem solid #4386bf;
}

.book-category {
  width: 25%;
  cursor: pointer;
}

.submit-book {
  width: 15%;
  border: none;
  border-radius: 0.3rem;
  color: white;
  background-color: #0290ff;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
