@import url('https://fonts.googleapis.com/css?family=Montserrat'); 
@import url('https://fonts.googleapis.com/css?family=Roboto Slab');


body {
  background-color: #fafafa;
  font-family: sans-serif;
}

main {
  margin-top: 4rem;
  padding: 5rem 0;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}
