.books-container {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-bottom: 2rem;
  border: solid;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

#category {
  color: gray;
}

#title {
  color: black;
  font-size: 2rem;
}

#author {
  color: gray;
}

.remove-book {
  background-color: white;
  color: blue;
  border: none;
  cursor: pointer;
}

.remove-book:active {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.book-operations {
  display: flex;
  gap: 1rem;
}

.book-operations p + p {
  padding-left: 1rem;
  border-left: solid;
}

.progress-and-chapter {
  display: flex;
}

.progress {
  display: flex;
  gap: 1rem;
}
